DATABASE_URL="postgresql://postgres:postgres@localhost:5432/petfosterconnect?schema=public"
JWT_SECRET="your-super-secret-jwt-key-change-this"
PORT=3001

# On renomme CORS_ORIGIN en FRONTEND_URL pour matcher avec notre main.ts sécurisé
FRONTEND_URL="http://localhost:5173"
COOKIE_DOMAIN=".petfosterconnect.com" # Optionnel : à définir si Front et Back partagent un domaine parent

# Emails (Ethereal)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=roderick.kilback18@ethereal.email
SMTP_PASS=9CUUpwrqWnYMrxkbY7
SMTP_FROM="PetFosterConnect <no-reply@petfosterconnect.com>"
